# Python
__pycache__/
*.py[cod]
*.pyc

.gitignore

# Virtual environment
.env/
.venv/
venv/
ENV/
env/
*.env

# VSCode
.vscode/

# SQLite database
*.sqlite3
*.db

# System
.DS_Store
Thumbs.db

# Logs
*.log