# Общие файлы и папки, которые игнорируются Git
*.log
*.tmp
*.bak
*.swp

# Директории с зависимостями
node_modules/
vendor/

# Конфигурационные файлы среды
.env

# Системные файлы
.DS_Store
Thumbs.db

# Скомпилированные файлы
*.class
*.o
*.out

# Идея проекта
.idea/
.vscode/

# Директории тестирования (если используется, например, pytest)
__pycache__/
*.pyc

# Файлы, сгенерированные средой разработки
*.sublime-project
*.sublime-workspace
*.vscode/

# Файлы и папки для Python
*.pyo
*.pyd
*.sqlite

# Файлы настройки Git
.gitconfig

# Файлы и папки базы данных

# SQLite
*.sqlite
*.sqlite3
*.db

# Файлы дампов (если они создаются автоматически)
*.sql
*.sql.gz
*.sql.zip

# Конфигурации базы данных (например, для MySQL, PostgreSQL)
*.my.cnf
*.pgpass

# Лог-файлы базы данных
*.log

# Если вы используете Docker, можете добавить игнорирование файлов базы данных в контейнерах
docker-compose.override.yml
docker-compose.yml

.database.db
.user_data.db